body{
	background-color: #370617;
}

/*	 __ _  ___ _ __   ___ _ __ __ _| |
	  / _` |/ _ \ '_ \ / _ \ '__/ _` | |
	 | (_| |  __/ | | |  __/ | | (_| | |
	  \__, |\___|_| |_|\___|_|  \__,_|_|
	  |___/
*/


a 	{
	text-decoration: none;
	color: inherit;
}

/* Filtres */

header 	{
	width: 88vw;
	height: 30px;
	border: 1px solid orange;
	position: fixed;
	top: 5px;
	left: 6vw;	
  background-color: whitesmoke;
  opacity: 0.7;
}

header ul	{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li{	
  font-size: 14px;
}


/*Fond*/
#conteneur 	{
	  width: 90vw;
    margin: 90px auto;
		margin: auto;
	  background-color: whitesmoke;
	  position: relative;
	  min-height: 1000px;
}

/*Typo*/
h1, h2, h3	{
	font-size: 14px;
	color: black;
}

p	{
	font-size: 12px;
	color: black;
	line-height: 150%;
}


/*  _           _           
		 _)_ __   __| | _____  __
		| | '_ \ / _` |/ _ \ \/ /
		| | | | | (_| |  __/>  < 
		|_|_| |_|\__,_|\___/_/\_\*/


/* Les projets */
#contenu 	{
	width: 88vw;
	/*height: 70px;*/
	border: 1px solid yellow;
	margin: auto;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.box {
  height: 200px;
/*  width: 240px;*/
	width: 17vw;
  border: 1px solid blueviolet;
  display: inline-block;
}


/* Pied de page */
footer	{
	width: 88vw;
	border: 1px solid green;
	margin: auto;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer	{
	width: 17vw;
	display: inline-block;
	align-content: flex-start;
	border: 1px solid red;
}

/*		  _   _ _                                  _               
		 | |_(_) |_ _ __ ___  ___    ___ __ _  ___| |__   ___  ___ 
		 | __| | __| '__/ _ \/ __|  / __/ _` |/ __| '_ \ / _ \/ __|
		 | |_| | |_| | |  __/\__ \ | (_| (_| | (__| | | |  __/\__ \
		  \__|_|\__|_|  \___||___/  \___\__,_|\___|_| |_|\___||___/*/

h4	{
	width: 88vw;
	border: 1px solid blue;
	text-align: center;
	position: fixed;
	top : 40vh;
	left: 6vw;

	font-size: 3em;
}


                                           _      _   
/*  _ __   __ _  __ _  ___   _ __  _ __ ___ (_) ___| |_ 
 		| '_ \ / _` |/ _` |/ _ \ | '_ \| '__/ _ \| |/ _ \ __|
 		| |_) | (_| | (_| |  __/ | |_) | | | (_) | |  __/ |_ 
 		| .__/ \__,_|\__, |\___| | .__/|_|  \___// |\___|\__|
 		|_|          |___/       |_|           |__/ */

#pageprojet	{
	width: 88vw;
	border: 1px solid black;
	margin: auto;
}

#presentation	{
	width: 88vw;
	border: 1px solid pink;
	margin: auto;
	display: flex;
	align-items: flex-start;
	padding-top: 50px;
}

.introduction 	{
	width: 51vw;
	border: 1px solid red;
/*	margin: auto*/
}

.texte 	{
	width: 17vw;
	border: 1px solid red;
/*	margin: auto*/
	margin-right: 20px;
}

.mainpicture 	{
	width: 34vw;
	height: 300px;
	border: 1px solid blue;
	justify-content: flex-end;
}

.photosprojet	{
	width: 88vw;
	border: 1px solid purple;
	margin: auto;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.picture 	{
	width: 28vw;
	height: 250 px;
	border: 1px solid lightpink;
}



